# Домашнее задание «Библиотека Pandas»

## Задание 1

Скачайте с сайта https://grouplens.org/datasets/movielens/ датасет любого размера. Определите какому фильму было выставлено больше всего оценок 5.0.

In [1]:
import pandas as pd

In [27]:
ratings = pd.read_csv('ml-latest-small/ratings.csv')
movies = pd.read_csv('ml-latest-small/movies.csv')
joined = ratings.merge(movies, on='movieId', how='left') # Объединяем файлы в одну таблицу, чтобы добавить названия фильмов
joined.head()

,userId,movieId,rating,timestamp,title,genres
0,1,1,4.0,964982703,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy
1,1,3,4.0,964981247,Grumpier Old Men (1995),Comedy|Romance
2,1,6,4.0,964982224,Heat (1995),Action|Crime|Thriller
3,1,47,5.0,964983815,Seven (a.k.a. Se7en) (1995),Mystery|Thriller
4,1,50,5.0,964982931,"Usual Suspects, The (1995)",Crime|Mystery|Thriller

In [33]:
rating5 = joined[ joined.rating == 5.0] # Оставляем только фильмы с рейтингом 5.0
rating5['title'].value_counts().head(1) # Считаем сколько раз встречается каждый фильм. На первой строчке фильм с наибольшим показателем

Shawshank Redemption, The (1994)    153
Name: title, dtype: int64

для датасет 'ml-25m' выдает фильм Shawshank Redemption, The (1994) с показателем 39553
для датасет 'ml-latest-small' выдает фильм Shawshank Redemption, The (1994) с показателем 153

## Задание 2

По данным файла power.csv посчитайте суммарное потребление стран Прибалтики (Латвия, Литва и Эстония) категорий 4, 12 и 21 за период с 2005 по 2010 года. Не учитывайте в расчетах отрицательные значения quantity.

In [35]:
data = pd.read_csv('power.csv')
data.head()

   country  year  quantity  category
0  Austria  1996       5.0         1
1  Austria  1995      17.0         1
2  Belgium  2014       0.0         1
3  Belgium  2013       0.0         1
4  Belgium  2012      35.0         1

In [53]:
filtered_countries = data[ 
    ((data['country']=='Lithuania') | (data['country']=='Latvia') | (data['country']=='Estonia')) &
    ((data['category']==4) | (data['category']==12) | (data['category']==21)) &
    (data['year'] > 2005) & (data['year'] < 2010) & (data['quantity'] >= 0)]
print(f"Суммарное потребление стран Прибалтики: {filtered_countries['quantity'].sum()}")

Суммарное потребление стран Прибалтики: 164555.0

In [58]:
# второй вариант
data.loc[ 
    ((data['country']=='Lithuania') | (data['country']=='Latvia') | (data['country']=='Estonia')) &
    ((data['category']==4) | (data['category']==12) | (data['category']==21)) &
    (data['year'] > 2005) & (data['year'] < 2010) & (data['quantity'] >= 0)]['quantity'].sum()

164555.0

## Задание 3

Выберите страницу любого сайта с табличными данными. Импортируйте таблицы в pandas dataframe.
Примеры страниц (необязательно брать именно эти):

https://fortrader.org/quotes

https://www.finanz.ru/valyuty/v-realnom-vremeni

In [64]:
# Не совсем понял задание. Нужно просто одну команду написать?
tables = pd.read_html('https://fortrader.org/quotes')
tables[0]

                           Название   Цена  Изменение  Изменение(%)  Обновлено
0  EURRUB Курс евро к рублю сегодня  88.97       1.09          1.24        NaN
1       USDRUB Курс рубля к доллару  75.03       0.45          0.60        NaN

In [65]:
tables[1]

,Название,Цена,Изменение,Изменение(%),Обновлено
0,Нефть Brent Курс нефти сегодня,73.07,-0.27,-0.37,NaN
1,Нефть WTI Цены на нефть WTI,71.65,-0.45,-0.62,NaN
2,Природный газ Цена на природный газ,3.61,0.04,0.98,NaN
3,Кофе,150.05,-0.55,-0.37,NaN
4,Кукуруза,539.60,-4.00,-0.74,NaN
5,Соя,357.90,-2.00,-0.56,NaN
6,Хлопок,87.00,-0.63,-0.72,NaN

In [66]:
tables[2]

                           Название   Цена  Изменение  Изменение(%)  Обновлено
0       Золото Цена золота на бирже  1 807       2.00          0.00        NaN
1  Серебро Цена на серебро на бирже  25.98      -0.16         -0.59        NaN
2         Палладий Цена на Палладий  2 811     -40.00         -1.00        NaN
3           Платина Цены на платину  1 065     -18.00         -2.00        NaN
4           Медь Цена меди на бирже   4.26      -0.06         -1.28        NaN

In [67]:
tables[3]

,Название,Цена,Изменение,Изменение(%),Обновлено
0,ВТБ Акции ВТБ,0.048570,-0.000830,-1.680162,NaN
1,Газпром Акции газпрома,291.00,-6.39,-2.150000,NaN
2,Лукойл Акции Лукойл,6 607.5,-174.5,-2.600000,NaN
3,Роснефть Акции Роснефти,576.50,-3.75,-0.650000,NaN
4,Сбербанк Акции Сбербанка,301.16,-2.90,-0.950000,NaN
5,Сургутнефтегаз Акции Сургутнефтегаза,35.580,-1.020,-2.787000,NaN
6,Норникель Акции Норникель,24 472,-186,-1.000000,NaN
7,Аэрофлот Акции Аерофлота,67.72,-0.62,-0.910000,NaN
8,Северсталь Акции Северсталь,1 553.80,-36.20,-2.280000,NaN
9,Транснефть Акции Транснефть,172 200,-2 200,-1.000000,NaN
10,Ростелеком Курс акций ростелекома,102.70,+0.66,0.650000,NaN
11,РУСАЛ Акции РУСАЛ (RUAL),48.850,-0.755,-1.522000,NaN
12,Детский мир iDreamSky Technology Limited,142.04,-8.22,-5.470000,NaN
13,Петропавловск Акции Петропавловск,22.88,-0.59,-2.510000,NaN
14,Алроса Акции АЛРОСА (ALRS),126.880,+2.280,1.830000,NaN
15,Магнит Акции Магнит (MGNT),5 338.5,+28.5,0.500000,NaN
16,НМЛК Акции НЛМК (NLMK),224.640,-4.060,-1.775000,NaN
17,М.видео Акции М.видео (MVID),627.20,-7.20,-1.130000,NaN
18,"Газпром нефть Акции ""Газпром нефть"" (SIBN)",440.00,-8.85,-1.970000,NaN
19,НМТП Акции НМТП (NMTP),6.9200,-0.0500,-0.717400,NaN
20,Полиметалл Акции Полиметалл (POLY),1 636.60,-1.70,-0.100000,NaN
21,Полюс Золото Акции Полюс Золото (PLZL),14 687.5,+162.0,1.100000,NaN
22,НОВАТЭК Акции НОВАТЭК (NVTK),1 622.40,-17.60,-1.070000,NaN
23,РусГидро Акции РусГидро (HYDR),0.8204,-0.0458,-5.287500,NaN
24,Татнефть Акции Татнефть (TATN),516.50,-19.90,-3.710000,NaN
25,"АФК Система Акции АФК ""Система"" (AFKS)",31.091,-0.579,-1.828000,NaN
26,МТС Акции МТС,317.90,-6.45,-1.990000,NaN
27,Башнефть Акции Башнефть (BANE),1 456.5,-38.0,-2.500000,NaN
28,Яндекс Акции Яндекс (YNDX),5 297.0,-44.4,-0.800000,NaN
29,X5 Retail Group Акции X5 Retail Group (FIVE),2 509.00,-4.00,-0.160000,NaN
30,ФСК ЕЭС Акции ФСК ЕЭС (FEES),0.22878,-0.00148,-0.642750,NaN
31,Мечел Акции Мечел (MTLR),74.35,+0.15,0.200000,NaN
32,МосБиржа Акции МосБиржа (MOEX),172.17,+0.65,0.380000,NaN
33,Интер РАО Акции Интер РАО (IRAO),4.68,-0.03,-0.640000,NaN
34,"Mail.ru Акции Mail.ru (MAIL, ДР)",1 634.00,-15.00,-0.910000,NaN
35,Киви Акции Киви (QIWI),764.5,-9.0,-1.200000,NaN
36,"Лента Акции Лента (LNTA, ДР)",248.40,-2.80,-1.110000,NaN
37,"Тинькофф Акции Тинькофф (TCSG, др)",6 650.40,-30.20,-0.450000,NaN
38,Озон Акции Озон (Ozon),4 085.50,-85.00,-2.040000,NaN

In [68]:
tables[4]

,Название,Цена,Изменение,Изменение(%),Обновлено
0,Google Акции Google (GOOGL),2 492.80,-36.68,-1.45,NaN
1,IBM Акции IBM (IBM),140.19,0.37,0.26,NaN
2,Microsoft Акции Майкрософт (MSFT),277.01,-2.92,-1.04,NaN
3,Apple Акции Apple (AAPL),142.17,-2.40,-1.66,NaN
4,Yandex Акции яндекса,70.71,-1.12,-1.56,NaN
5,Toyota Акции Тойоты,173.30,-2.35,-1.34,NaN
6,Volkswagen Курс акций Volkswagen,198.96,-7.04,-3.42,NaN
7,Amazon Акции Amazon (AMZN),3 657.92,-38.66,-1.05,NaN
8,Boeing Акции Boeing Company,229.66,-2.12,-0.91,NaN
9,Intel Акции Intel (INTC),55.30,-0.66,-1.18,NaN
10,Coca-Cola Акции Coca-Cola,53.88,-0.44,-0.81,NaN
11,Netflix Акции Netflix (NFLX),533.58,-2.38,-0.44,NaN
12,Pfizer Акции Pfizer (PFE),39.15,-0.20,-0.51,NaN
13,AMD Акции AMD,89.70,-0.84,-0.93,NaN
14,Walt Disney Акции Walt Disney (DIS),171.59,-1.23,-0.71,NaN
15,NVIDIA Акции NVIDIA (NVDA),796.19,-18.68,-2.29,NaN
16,PayPal Акции PayPal (PYPL),293.53,-3.60,-1.21,NaN
17,Facebook Акции Facebook (FB),344.20,-6.29,-1.79,NaN
18,Tesla Акции Тесла (TSLA),634.02,-10.63,-1.65,NaN
19,Twiter Цена акций твитера,67.45,-1.31,-1.91,NaN
20,"Hasbro Цена на акции Hasbro, Inc.",95.87,-1.06,-1.09,NaN
21,Сименс,129.84,-3.84,-2.87,NaN
22,Qiwi,10.20,-0.10,-0.97,NaN
23,Mastercard Акции Mastercard (МА),368.60,-5.32,-1.42,NaN
24,Moderna Акции Модерна (MRNA),230.72,8.82,3.97,NaN
25,Макдональдс Акции Макдональдс,233.05,-1.58,-0.67,NaN
26,MSCI,551.43,-4.34,-0.78,NaN
27,FIXPRICE,8.34,-0.29,-3.36,NaN
28,Zoom Акции Zoom (ZM),387.68,-6.23,-1.58,NaN
29,HeadHunter Акции HeadHunter (HH),44.88,-0.24,-0.53,NaN

In [70]:
dividend = pd.read_html('https://www.dohod.ru/ik/analytics/dividend')
dividend

[            Акция            Сектор            Период  \
 0    Лензолото-ао  Металлы и добыча         всего 12м
 1    Лензолото-ао  Металлы и добыча      годовые 2020
 2     Лензолото-п  Металлы и добыча         всего 12м
 3     Лензолото-п  Металлы и добыча      годовые 2020
 4      Северсталь  Металлы и добыча         всего 12м
 ..            ...               ...               ...
 295         Русал  Металлы и добыча  I полугодие 2021
 296      Квадра-п            Разное      годовые 2020
 297    Мостотрест     Строительство      годовые 2021
 298  Обувь России            Разное      годовые 2020
 299     TCS Group   Финансы и Банки   II квартал 2021

      Выплата на акцию (прогноз)  Unnamed: 4 Unnamed: 5 Доходность выплаты  \
 0                      15219.50         NaN        RUB             62.15%
 1                      15219.50         NaN        RUB             62.15%
 2                       3699.27         NaN        RUB             60.64%
 3                       3699.27         NaN        RUB             60.64%
 4                        238.37         NaN        RUB             15.06%
 ..                          ...         ...        ...                ...
 295                        0.00         NaN        RUB                 0%
 296                        0.00         NaN        RUB                 0%
 297                        0.00         NaN        RUB                 0%
 298                        0.00         NaN        RUB                 0%
 299                        0.00         NaN        RUB                 0%

      Цена расчета доходности Дата закрытия реестра (оценка)  Unnamed: 9  ...  \
 0               24490.000000                            NaN         NaN  ...
 1               24490.000000                     13.07.2021         NaN  ...
 2                6100.000000                            NaN         NaN  ...
 3                6100.000000                     13.07.2021         NaN  ...
 4                1582.800000                            NaN         NaN  ...
 ..                       ...                            ...         ...  ...
 295                49.660000                     07.10.2021         NaN  ...
 296                 0.006085                     11.07.2021         NaN  ...
 297               102.800000                     03.07.2022         NaN  ...
 298                24.040000                     18.07.2021         NaN  ...
 299              6660.600000                     21.08.2021         NaN  ...

      Unnamed: 14  Unnamed: 15  Unnamed: 16  \
 0           1.14         0.00         0.00
 1           1.14         0.00         0.00
 2           0.35         1.00         0.00
 3           0.35         1.00         0.00
 4         837.72         1.00         0.00
 ..           ...          ...          ...
 295     15193.01         0.00         0.00
 296     75272.94         0.00         0.00
 297       282.22         0.00         0.00
 298       141.32         0.00         0.00
 299       199.31         0.71         0.14

                                            Unnamed: 17  Unnamed: 18  \
 0    Чистая прибыль ОАО Лензолото формируется за сч...     17354.80
 1    Чистая прибыль ОАО Лензолото формируется за сч...     17354.80
 2    Чистая прибыль ОАО Лензолото формируется за сч...      1286.24
 3    Чистая прибыль ОАО Лензолото формируется за сч...      1286.24
 4    Дивидендная политика Северстали (весна 2018): ...    199686.10
 ..                                                 ...          ...
 295  Дивидендная политика Русала (2015 год): дивиде...         0.00
 296  Согласно уставу Квадра, общая сумма, выплачива...         0.00
 297  Дивидендная политика Мостотреста: В случае, ес...         0.00
 298  Четких критериев дивидендной политики нет. Обы...         0.00
 299  Согласно дивидендной политике TCS Group (Тиньк...         0.00

      Unnamed: 19  Unnamed: 20 Unnamed: 21  Unnamed: 22 Unnamed: 23
 0            NaN         lnzl       Small            1           0
 1     09.07.2021         lnzl       Small            0           1
 2            NaN        lnzlp       Small            1           0
 3     09.07.2021        lnzlp       Small            0           1
 4            NaN         chmf       Large            1           0
 ..           ...          ...         ...          ...         ...
 295   05.10.2021         rual       Large            0           0
 296   09.07.2021        tgkdp       Small            1           0
 297   01.07.2022         mstt       Small            0           0
 298   16.07.2021         obuv       Micro            1           0
 299   19.08.2021        tcsgr       Large            0           0

 [300 rows x 24 columns]]